
<div id="navbar"></div>
  <div id="chart">
    <div class="chart"></div>
  </div>
  <div id="video-div">
    <div class="logo">
      <span class="company">STEELE & BROWN</span>
    </div>
    <div id="client_portal">
      <%= link_to "Client Portal",client_portal_path %>
    </div>
    <div class="hex">
    </div>
    <div class="dots">
    </div>
    <div class="tee">
    </div>
    <%= video_tag "milk.mp4",id:"main-video", autoplay: true, :controls => false %>
  </div>

  <div id="pg1"></div>
  <div id="pg2"></div>
  <div id="pg3"></div>
