
<div id="navbar"></div>
  <div id="video-div">
    <%= video_tag "milk.mp4",class:"main-video", autoplay: true, :controls => false %>
  </div>
  <div id="pg1" data-0="background-position:0px 0px;" data-end="background-position:-500px -10000px;"></div>
  <div id="pg2" data-0="background-position:0px 0px;" data-end="background-position:-500px -8000px;"></div>
  <div id="pg3" data-0="background-position:0px 0px;" data-end="background-position:-500px -6000px;"></div>
