<%= render 'layouts/header' %>
<h2 class="portal_h">Beatrice Brown</h2>
<div id="portal_div">
  <%= image_tag ("brown.png"),class:"about_img" %>
  <p>
    <strong>Beatrice Brown </strong>
    is an artist whose multidisciplinary practice involves music, film, performance and painting. Musically she has collaborated with numerous artists
    including post punk band Selfish Cunt, Warrior Charge (Tricky), Jeffrey Lee Pierce project (Iggy Pop, Nick Cave, Deborah Harry), performance art group Joan
    of Ass as well as Steve Stella New (Rich Kids, PIL, Iggy Pop, Pearl Harbour) with whom she released two albums ‘Beastiality’ and ‘Stars and Wronguns' under
    the name of Beastellabeast. She performs regularly with Deadcuts. Her paintings, performance, sound and video works explore themes surrounding esoteric
    sexuality, ritual, out of body experience and possession and have been shown at ICA, the Roundhouse, 1 Exhibition Road, Pure Evil Gallery and Millenium St
    Ives, The Cornish Bienalle, Flowers Gallery, Art14, The Library Club. Beatrice played Nancy in Alison Murray's street Cult movie 'Mouth to Mouth'- Winner
    best film Brooklyn Film Festival, during 2015 she will play the lead role in Tony Ukpo's feature film 'The 17 Voices of Eloise Carmicheal'.
  </p>
  <p>
    <a href="http://beatricebrown.net/">Website</a>
  </p>
  <p>
    <a href="http://vimeo.com/channels/beatricebrown">Vimeo</a>
  </p>
  <p>
    <a href="http://thebeatriceverse.tumblr.com/">Tumblr</a>
  </p>
  <p>
    <a href="http://www.241-24-7.com/">www.241-24-7.com</a>
  </p>
  <p>
    <a href="https://soundcloud.com/mk47/deadcuts-feat-beatrice-brown-floods">SoundCloud</a>
  </p>
  <p>
    <a href="https://www.youtube.com/watch?v=Oj9Ti3HsJOA">YouTube</a>
  </p>
</div>
<h2 class="portal_h">Therese Steele</h2>
<div id="portal_div">
  <%= image_tag ("steele.png"),class:"about_img" %>
  <div>
    <div id="steele">

    </div>
    <p>
      <strong>Therese Steele</strong>
      is an artist working with performance and installation. She lived for several years in Beijing were she studied photography at The Beijing Film School.
      Therese has several academic degrees including Modern &amp; Classical Chinese and Politics from the infinite radical leftwing breeding ground of SOAS -
      School Of Oriental And African Studies - London as well as MA in Performance Design and Practice from Central Saint Martins. Her work has been shown at
      The Freud Museum, Artsadmin, Gallery8, Cochrane Theatre, Camden People’s theatre and Stockholm Fringe Festival.
    </p>
    <p>
      Therese collaborates with choreographer and artist Alice Tatge and their joint work deals with notions surrounding sexuality, body sovereignty and
      censorship. Their most recent large scale project, titled Dyad, developed during the riots in Istanbul 2013 is currently showing at Metamatic:Taf
      Athens.
    </p>
    <p>
      <a href="http://www.dyad.org.uk">Dyad</a>
    </p>
    <p>
      <a href="http://dyad.org.uk/DYAD/PUBLICATION.html">Dyad Publication</a>
    </p>
    <p>
      <a href="http://www.freud.org.uk/events/75483/all-in-search-of-a-greater-hunger/">
        Freud
      </a>
    </p>
    <p>
      <a
      href="http://theartfoundation.metamatic.gr/EN/BLOG_/art-culture/2280/An_interview_with_Alice_Tatge_and_Therese_Steele_(TatgeSteele_The_Dyad_Project)/"
      >
      The Art Foundation
    </a>
  </p>
</div>
</div>
