<%= render 'layouts/header' %>
<h2 class="portal_h">Business Plan</h2>
<div id="portal_div">
  <p class="plan_title">
    Steele &amp; Brown Ltd.
    Business Plan
    2015 - 2016
  </p>
  <p class="directors-title">
    <strong>Company Directors</strong>
  </p>
  <div id="directors">
    <div id="steele">
      <p class="plan_p">
        Therese Steele
        Grove House Flat 6
        Stamford Grove West
        N16 6LL
        London
      </p>
      <p>
        07545 289 65 <br>
        therese@steele.se <br>
        steeleandbrown.com
      </p>
    </div>
    <div id="brown">
      <p>
        Beatrice Brown
        2 Old Silk Mill,<br>
        St Marys,<br>
        Chalford <br>
        GL6 8HP
      </p>
      <p>
        07878335956 <br>
        soulbowhole@gmail.com <br>
        steeleandbrown.com
      </p>
    </div>
  </div>



  <p>
    <strong>Business Description</strong>
  </p>
  <p>
    Steele&amp;Brown is an artist run curatorial and events management company that aims to present the new wave of contemporary and fine art in models that
    represent the shift of focus in the art world.
  </p>
  <p>
    We will raise income through sales, corporate sponsorship/investment, and public funding.
  </p>
  <p>
    Our company will be available for investment through the Enterprise Initiative Scheme (E.I.S.)
  </p>
  <p>
    in April 2015.
  </p>
  <p>
    <strong>Events Schedule</strong>
  </p>
  <p>
    <strong>2015 RIOTANDRITUAL</strong>
  </p>
  <p>
    RIOTANDRITUAL a 1/2 night event that incorporates fine art installation with live bands and performance art. It will open at the Institute of Contemporary
    Arts (I.C.A.) London June 20th 2015. We will tour the model to an arts festival at Hilles House, Gloucestershire, then to Los Angeles and New York over a
    period of four weeks. Through corporate sponsorship, tickets and merchandise sales we predict a profit of 10,000UKP per event.
  </p>
  <p>
    <strong>2016 PRIMARYOBJECT</strong>
  </p>
  <p>
    PRIMARYOBJECT a large group art show to open during Frieze Art Fair, London October 2016. PRIMARYOBJECT will run at an independent central location for the
    period of a month, during this time we will host ticketed evening live events, concerts, workshops and a talks programme running in conjunction with the
    static gallery show.
  </p>
  <p>
    <strong>How we run successful events:</strong>
  </p>
  <p>
    ● Research and Development: Online research project, ‘NOUS’. An inclusive online portal that will show contributions and research by leading academics,
    artists and writers that will generate income by selling advertising opportunities. This project will grow in scale and extent over 18 months. We will
    publish selected aspects of our research at the launch of PRIMARYOBJECT. This model has been executed to high success by Mouse magazine Italy
    (International) and <a href="http://www.theartistascurator.com">www.theartistascurator.com</a>.
  </p>
  <p>
    ● Fundraising - By employing a committed, professional fundraiser we endeavor to raise salaries/ production budgets and event funding through the
    multifarious funding bodies available.
  </p>
  <p>
    ● Investment - Through the E.I.S. we will seek to raise 200,000UKP of corporate investment in the first 12 months of trade. Steele&amp;Brown will always
    retain 70% of shares.
  </p>
  <p>
    ● Sponsorship - We have good contacts with corporate sponsors and hope to raise not only monetary funds but also alcohol and catering sponsorship from
    restaurants such as Hix London.
  </p>
  <p>
    ● Curatorial programme - Steele&amp;Brown will run an inclusive curatorial programme, that will incorporate both master and emergent artists. We will
    research and present new methods of curation and works sales ie. sales of video and performance works to international collections.
  </p>
  <p>
    ● Works production - Works production budgets will be raised through mostly public sector grants and funding. We are also in communication with Pangolin
    London.
  </p>
  <p>
    ● PR and Marketing - Steele&amp;Brown will place PR as a top priority. We are in communication with Sutton PR as our prospective public relations advisors.
  </p>
  <p>
    ● Location - RIOT&amp;RITUAL will be hosted at four existing gallery spaces globally. PRIMARYOBJECT will be hosted at a non established central location,
    that we will source through Location House.
  </p>
  <p>
    ● Event production -
  </p>
  <p>
    ● Sales (Art) - Steele&amp;Brown offer artists a 30/70% cut of sales favouring the artist. We do this because we want to re define artists rights within
    the industry. We intend to sell the works we represent to some of the most respected collections internationally. Prices of works will range from under
    100UKP to over 100,000UKP.
  </p>
  <p>
    ● Sales (Tickets) - Ticket sales should be 100%net profit.
  </p>
  <p>
    ● Sales (Books and Merchandise) - Each event will have catalogues and merchandise for sale at the locations and online.
  </p>
  <p>
    ● Sales (Advertising) - Steele&amp;Brown offer space for advertising within our events, catalogues, and within our online domains.
  </p>
  <p>
    ● Touring - RIOT&amp;RITUAL will tour to London, Gloucestershire, L.A. and New York. PRIMARYOBJECT will tour to ArtBasel Miami.
  </p>

</div>
