<%= render 'layouts/header' %>
<h2 class="primary_object_h">Primary Object</h2>
<div id="primary_object">
  <p>
    <strong>PRIMARYOBJECT is a large group show that will open in London 2016 and run for an entire month.</strong>
    <strong></strong>
  </p>
  <p>
    In essence the show will be based on two pretexts.
  </p>
  <p>
    <strong>The first pretext</strong>
    being the exploration of the abstract notion of the MOTHER, shown in all her horror, love, creation and deific force.
  </p>
  <p>
    We believe that the idea of the MOTHER is calling out to be discussed and redefined within the art world and we have been successful in confirming a range
    of established and emergent artists from all genders and disciplines who will contribute works to the show (see list below).
  </p>
  <p>
    PRIMARYOBJECT will present a live music and performance event programme that will run alongside the 2D, sculptural, and installation works therefore
    setting this show apart from traditional gallery experiences.
  </p>
  <p>
    <strong>The second pretext</strong>
    for the show is equally ambitious and radical and concerns redefining the gallery model as we currently know it.
  </p>
  <p>
    In a time so wholly engrossed in the technological revolution, engagement with social media and creation of avatars we are all participating in a unified
    global virtual culture.
  </p>
  <p>
    PRIMARYOBJECT will endeavour to translate this participation into a gallery setting by inviting current I.B.As (Internet Based Artists) to respond to the
    themes via the medium of the internet.
  </p>
  <p>
    This aspect of the show has already started in the form of an online research project which will grow and expand throughout the curatorial and production
    stages of PRIMARYOBJECT. This blog will include interviews with leading academics/philosophers/artists/curators such as<a href="http://www.theartistascurator.org/">Elena Filipovic</a> (When Exhibitions Become Form: On the History of the Artist as Curator)	<a href="http://www.kurator.org/research/magda-tyzlik-carver-project/">Magda Tyzlik Carver</a> (‘Towards An Aesthetic of Common/s: Beyond Participation and
    it’s Post’, New Criticals October 15 2014.) <a href="http://www.rca.ac.uk/more/staff/dr-nina-power/">Nina Power</a> (Philosopher, senior lecturer at RCA
    and author of One Dimensional Woman Zer0 2009) and Ed Fornieles amongst others.
  </p>
  <p>
    <strong>List of confirmed artists:</strong>
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    <a href="http://www.pangolinlondon.com/artists/abigail-fallis"><strong>Abigail Fallis</strong></a>
    <a href="http://en.wikipedia.org/wiki/Young_British_Artists">YBA</a>
    sculptor will present works from <a href="http://www.damienhirst.com/projects/2012/freedom-not-genius">Damien Hirsts’ MurderMe collection.</a>
  </p>
  <p>
    <a href="http://www.tara-sthill.com/"><strong>Tara St Hill</strong></a>
    is a well established London based fashion stylist who will show her own sculptural response.
  </p>
  <p>
    <a href="http://www.etiwade.com/projects/new-body-of-work-shown-in-new-york-and"><strong>Eti Wade</strong></a>
    : Artist and academic, (most recently shown at Garis and Hahn NY and The Jerwood Space Family Politics Exhibition London) will present works/talks tailor
    made for the show.
  </p>
  <p>
    <a href="http://tula.nu/"><strong>Tula</strong></a>
    : Berlin based Swedish band and lead singer Fanny Risberg (actress of<a href="http://www.dramaten.se/Repertoar/Nico---Sphinx-of-Ice1/">Nico Dramaten 2014</a> och	<a href="http://www.dn.se/sthlm/fanny-risberg-1/">Upp till Kamp Svt 2007</a> ) will perform original music for the show.
  </p>
  <p>
    <a href="http://www.dobedo.co.uk/contributor/naimakarlsson/"><strong>Naima Karlsson</strong></a>
    photographer (daughter of Neneh Cherry) will make 2D works for the show.
  </p>
  <p>
    <a href="http://www.taishani.com/"><strong>Tai Shani</strong></a>
    London based multidisciplinary artist whose installation is currently showing at <a href="http://mirrorcity.southbankcentre.co.uk/">The Hayward Gallery</a>
    .
  </p>
  <p>
    <a href="http://www.ralphbrown.co.uk/"><strong>The estate of Ralph Brown RA</strong></a>
    has committed his sculpture ‘Mother and Child’.
  </p>
  <p>
    <a href="http://www.lucybeech.com/"><strong>Lucy Beech</strong></a>
    <strong> (</strong>
    Bloomberg New Contemporaries 2014)<strong> </strong>British performance and video artist will premiere an exclusive video work.
  </p>
  <p>
    <a href="http://www.aeknown.com/"><strong>The AEs</strong></a>
    (Dario Vigorito and Martin Tomlinson) will present groundbreaking internet based live performance.
  </p>
  <p>
    <a href="http://beatricebrown.net/">Beatrice Brown</a>
    transdisciplinary artist, will make am interactive sculptural installation including video work and sound.
  </p>
  <p>
    <a href="http://dyad.org.uk/DYAD/Enter.html">Therese Steele</a>
    Swedish artist, will premiere her new film.
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    <strong>Artists currently in discussion;</strong>
  </p>
  <p>
    <a href="http://www.zabludowiczcollection.com/collection/artists/ed-fornieles"><strong>Ed Fornieles</strong></a>
    , who has recently had a large solo show at the <a href="http://chisenhale.org.uk/archive/exhibitions/index.php?id=141">Chisenhale Gallery</a> that
    discussed themes of the family while presenting live internet based interactive streaming.
  </p>
  <p>
    Experimental, avante garde, composer<a href="http://run-riot.com/articles/blogs/interview-artist-ebe-oke-talks-run-riot-about-his-work-and-transformation"><strong>Ebe Oke</strong></a>	<strong> and</strong> <a href="http://www.laurieanderson.com/"><strong>Laurie Anderson</strong></a> (legendary, NY based composer, performance artist, m.
    Lou Reed).
  </p>
  <p>
    <strong>The Estate of </strong>
    <a href="http://www.corinneday.co.uk/exhibitions.php?action=view_exhibition&amp;id=9"><strong>Corrine Day</strong></a>
    : Legendary fashion photographer who discovered Kate Moss, accredited with forming the controversial aesthetic termed as ‘Heroin chic’. This show will
    present her lesser- known documentary photography of personal moments between mother Tara St Hill and her child, Mia.
  </p>
  <p>
    We have more information available should you wish to receive it. We look forward to hearing from you.
  </p>
  <p>
    Yours sincerely,
  </p>
  <p>
    Therese Steele &amp; Beatrice Brown
  </p>
  <p>
    <a href="http://www.dyad.org.uk">http://www.dyad.org.uk</a>
  </p>
  <p>
    <a href="http://www.beatricebrown.net">www.beatricebrown.net</a>
  </p>
</div>
