<%= render 'layouts/header' %>
<div id="portal_div">
  <h2 class="portal_h">Riot & Ritual</h2>
  <p>
    Riot and Ritual is Steele&amp;Browns first production, through which our aim is three fold.
  </p>
  <p>
    1) To rediscover ancient, intuitive and collective modes of art making and present work that not only speak of its thematic concepts of trance, ritual and
    riot but that also enables audience/visitors/participants to experience it through their own bodies.
  </p>
  <p>
    2) To establish Steele &amp; Brown within the artist establishment as a successful artist curatorial partnership.
  </p>
  <p>
    3) To present a much needed new way of curating that puts the right of the artist as central.
  </p>
  <p>
    RIOT AND RITUAL will give precedence to artworks whose form of expression is without words, for this reason music, choreography and sonic exploration will
    play a central role. Steele &amp; Brown believe that placing live music inside an art exhibition will heighten the audio attentive ability of each visitor.
    Much detailed planning will be dedicated to the scenography of constructing the "stage" in a non traditional setting. A 24 hour timescale will enable the
    energy of the show to build and ebb, harkening back to the Warholian/Velvet Underground fusion of rock n roll and contemporary art.
  </p>
  <p>
    Through the online research project running parallel Steele &amp; Brown hope to further discussion about new gallery modes in a post participatory climate
    while generating interest and recognition for the artists involved. Investments will go toward the artists production budgets, primarily supporting
    generation of radical concepts within precise production values and installation.
  </p>
</div>
