// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin:0;
  -skrollr-animation-name:body;
  max-height:2200px;

}
#navbar {
  position:fixed;
  width:100%;
  height:50px;
  bottom:0;
  -skrollr-animation-name:navbarAnimation;

}
#pg1 {
  -skrollr-animation-name:pg1;

}
#pg2 {
  -skrollr-animation-name:pg2;
  background-image: image-url("pg2.png");
  z-index:49;

}
#pg3 {
  -skrollr-animation-name:pg3;
  background-image: image-url("pg3.png");
  z-index:48;
}
#pg1, #pg2, #pg3 {
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 2200px;
  background: image-url("pg1.png") repeat 0 0;
}
#video-div {
  width:100%;
  position:fixed;
  -skrollr-animation-name:video-div;
  height:100vh;
  max-width:100%
}

#main-video{
  margin: auto;
  display: block;
  height:100vh;
  max-width:100%
}
#logo {
  -skrollr-animation-name:logo;

}

.chart {
  background-image: image-url("chart.png");
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index:1;

}
.tee {
  background-image: image-url("tee.png");
  position:absolute;
  bottom:15%;
  left:30%;
  width: 200px;
  height: 200px;
  background-size: 100px;
  background-repeat: no-repeat;
  -skrollr-animation-name:tee;

}
.hex {
  background-image: image-url("hex.png");
  top:5%;
  left:15%;
  position: absolute;
  width: 300px;
  height: 300px;
  background-size: 300px;
  background-repeat: no-repeat;
  -skrollr-animation-name:hex;

}
.dots {
  background-image: image-url("dots.png");
  top:20%;
  right:10%;
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 100px;
  background-repeat: no-repeat;
  -skrollr-animation-name:dots;

}
.company {
  font-family: fantasy;
  font-size: 2em;
  top: 3%;
  left: 2%;
  color: rgb(31, 202, 232);
  font-weight: 900;
  opacity: 0.1;
  z-index:999;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  -skrollr-animation-name:logo;

  &:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    -webkit-transition: opacity .75s ease-in-out;
    opacity: 0.8 !important;
    cursor:pointer;
    font-size:4em;
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);


  }

}

#modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(47, 6, 6, 0.81);
  display:none;
}
#client_portal {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: rgb(240, 174, 186);
  font-size: 3em;
  z-index:999
}

@-skrollr-keyframes navbarAnimation {
  0 {
    left:100%;
  }

  1000 {
    left:0%;
  }

  skrollr-1000 {
    left:0%;
  }

  0 {
    background-color:rgb(0,0,0);
  }

  1000 {
    background-color:rgb(255,255,255);
  }
}
@-skrollr-keyframes pg1 {
  0 {
    background-position:0px 0px;

  }

  2000 {
    background-position:1500px 9000px;

  }
  3000 {
    background-position:11500px 6000px;

  }
  5000 {
    background-position:1500px -9000px;

  }
}
@-skrollr-keyframes pg2 {
  0 {
    background-position:0px 0px;
  }

  2000 {
    background-position:900px 6000px;
  }
  3000 {
    background-position:11500px 6000px;

  }
  5000 {
    background-position:-1500px 9000px;

  }
}
@-skrollr-keyframes pg3 {
  0 {
    background-position:0px 0px;
  }

  2000 {
    background-position:-500px 1100px;
  }
  3000 {
    background-position: 500px -6000px;

  }
  5000 {
    background-position: -500px 54000px;

  }
}
@-skrollr-keyframes video-div {
  0 {
    opacity:1;
    top:0%;
    transform:rotate(0deg);
    transform-origin:0 0;
  }

  500 {
    opacity:.98;
    top:-10%;
    transform:rotate(90deg);
  }
  1000 {
    opacity:.8;
    top:50%;
    transform:rotate(-90deg);
  }
  2500 {
    opacity:1;
    background:rgba(255, 255, 255, 0.85);
    top:80%;
    transform:rotate(360deg);
  }
  3500 {
    display:block;
    top:-100%;
    position:fixed;
  }
  4500 {
    display:block;
    top:100%;
    position:fixed;
  }
  5500 {
    display:block;
    top:0%;
    position:fixed;
  }
}
@-skrollr-keyframes chart {

  500 {
    opacity:1;
    top:80%;
    transform:rotate(360deg);
  }
  1000 {
    opacity:.5;
    transform:rotate(-360deg);
  }
  2000 {
    transform: rotate(440deg);opacity:.6;
  }

  3000 {
    background-position: -5000px 5000px;
  }

}
@-skrollr-keyframes body {
  0 {
    background-color:rgb(255,255,255);

  }

  2000 {
    background-color:rgb(0,0,0);

  }



}
@-skrollr-keyframes tee {
  0 {
    transform:scale(0) rotate(0deg);
    }
  1000 {
    transform:scale(1) rotate(1440deg);opacity:1;
    }

  2000 {
    transform:scale(5) rotate(3240deg);opacity:.2;
  }
  3000 {
    transform:scale(3) rotate(440deg);opacity:.6;
  }

  5000 {
    transform:scale(2) rotate(240deg);opacity:.4;
  }
}
@-skrollr-keyframes logo {
  0 {
    transform:scale(0) rotate(0deg);
  }
  1000 {
    transform:scale(1) rotate(1440deg);opacity:0;
  }

  2000 {
    transform:scale(4) rotate(3240deg);opacity:.2;
  }
  2500 {
    transform:scale(1) rotate(3240deg);opacity:0;
  }
}
@-skrollr-keyframes dots {
  0 {
    transform:scale(0) rotate(0deg);
  }
  1000 {
    transform:scale(6) rotate(1440deg);opacity:.4;
  }

  2000 {
    transform:scale(8) rotate(3240deg);opacity:.3;
  }
  3000 {
    transform:scale(3) rotate(140deg);opacity:.9;
  }

  5000 {
    transform:scale(2) rotate(340deg);opacity:.4;
    top:5%;
  }
}
@-skrollr-keyframes hex {
  0 {
    transform:scale(0) rotate(0deg);
  }
  1000 {
    transform:scale(3) rotate(1440deg);opacity:.7;
  }

  2000 {
    transform:scale(1) rotate(3240deg);opacity:1;
  }
  3000 {
    transform:scale(3) rotate(140deg);opacity:.9;
  }

  5000 {
    transform:scale(.3) rotate(340deg);opacity:.3;
    left:3%;
  }
}
@media screen and (max-width : 768px){

  .chart{
    display:none !important;
  }
}
